.react-datepicker {
  background-color: #262626;
  border-color: #e5e5e5;
  border-width: 2px;

  &-wrapper {
    width: 100%;
  }

  &-popper {
    z-index: 99;
  }

  &__tab-loop {
    position: absolute;
  }

  &__navigation {
    span {
      &::before {
        border-color: #e5e5e5;
        opacity: 1;
      }
    }

    &:hover {
      span {
        &::before {
          border-color: #e5e5e5;
          opacity: 0.5;
        }
      }
    }
  }

  &__header {
    background-color: #262626;
    border-bottom-width: 2px;
    border-bottom-color: #e5e5e5;
  }

  &__current-month,
  &__day-name {
    color: #e5e5e5;
  }

  &__day {
    color: #e5e5e5;

    &--disabled {
      opacity: 0.5;
    }

    &:not(&--disabled):hover {
      background-color: #e5e5e5;
      color: #262626;
    }

    &--keyboard-selected {
      background-color: #fafafa;
      color: #171717;
    }
  }
}
