* {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #262626;

    &:hover {
      background-color: #404040;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #e5e5e5;
  }
}
